div(class="header")
	ul
		li
			a(href="/") Home
		li
			a(href="/users") Users
		li
			a(href="/order") Order
		li
			a(href="/users/" + id) Profile
		li 	
			a(href="/addRestaurant") Add Restaurant
		li
			a(href="/restaurants") Edit Restaurants 
		li
			a(href="/stats") Stats
		li 
			a(href="/logout") Logout
