html
	head
		title Lord of the Restaurants
		style
			include ../../styles/styles.css
	body(class="background")
		include layout
		div(class="description")
			h1 Lord of the Restaurants
			p
				| Welcome to the the Lord of the Restaurants. 
				| We host the finest selection of restaurants in all of 
				| COMP 2406. Order now for the greatest experience of your life. 

		
